
.logo{
	display: block;
	margin-top: 50px;
}
.paulina{
	text-align: center;
}
.input-field{
	margin-top: 50px;
	background-color: white;
}
.cuadro-general{
	margin-top: 40px;
	padding: 20px;
}
.waves-effect{
	background-color: #f7901a;
	margin-top: 20px;
	width: 100%;
}
.waves-effect:hover{
	background-color: #c11e15;
}
.menu{
    background-color: #F7901A ;
    width: 100%;
    height: 50px;
}
.off{
    color:#F3F3F3 ;    
    margin-top: 13px;
}

.thumb{
     height: 300px;
     border: 1px solid #000;
     margin: 10px 5px 0 0;
}