.btn {
	width: 100%;
	background-color: #f7901a;
	margin: 0 auto;

}
.btn:hover {
	background-color: #f7901a;
}
.boton-enviar:hover {
	background-color: #c11e15;
}

li {
	
	display: inline-block;

}



